.header-controls-pics {
  display: flex;
  justify-content: space-between;
  max-width: 280px;
  margin-left: auto;
}
.header-controls-pic {
  height: 32px;
  width: 32px;
  margin: 0 10px;
  background-image: url("../../img/header-controls-sprite.png");
  background-repeat: no-repeat;
  cursor: pointer;
}
.header-controls-search {
  position: relative;
  z-index: 1;
  background-position: -64px 0;
}
.header-controls-profile {
  position: relative;
  background-position: -32px 0;
}
.header-controls-cart {
  position: relative;
  background-position: 0 0;
  margin-right: 20px;
}
.header-controls-cart-full {
  position: absolute;
  right: -10px;
  top: -5px;
  display: block;
  height: 21px;
  width: 21px;
  font-size: 11px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  border-radius: 50%;
  background: linear-gradient(90deg, #ff65a5 1.11%, #ff8076 100%);
  box-shadow: 0px 2px 8px rgba(255, 101, 165, 0.6), inset 0px 1px 1px #ff8076;
}

.header-controls-search-form .form-control {
  width: 100%;
  height: 100%;
  color: #333333;
  border: none;
  outline: none;
  box-shadow: none;
}
.header-controls__row {
  position: relative;
  display: flex;
}
.burger {
  width: 45px;
  height: 45px;
  position: relative;
  z-index: 10;
}
.burger__item {
  display: block;
  width: 45px;
  height: 6px;
  background-color: #4b4b4b;
  margin-bottom: 4px;
}
.header-controls__row {
  align-items: center;
  margin-left: auto;
}
.search__pic {
  display: flex;
  align-items: center;
}
.navbar__row {
  justify-content: flex-start;
}
.nav__items__row {
  display: none;
}
.search__pic {
  display: none;
}
.logo__pic {
  max-width: 120px;
}
.logo__pic__img {
  max-width: 100%;
}
.navbar-toggler {
  padding: 1px 6px;
}
.navbar__row__mobile {
  padding: 10px;
}
.navbar__mobile__list {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
  .search__mobile__menu {
    display: none;
  }
  .search__pic {
    display: block;
  }
  .logo__pic {
    max-width: 184px;
  }
}
@media (min-width: 992px) {
  .nav__items__row {
    display: flex;
  }
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}
